<div class="meetup-detail">

    <div class="alert alert-info" ng-show="feedback">{{ feedback }}</div>

	<h2>{{ meetup.name }}</h2>
    <div ng-bind-html="meetup.description"></div>

	<h3>RSVP status</h3>
	<p>
		<span class="label label-success">{{ meetup.yes_rsvp_count }} YEP</span>
	</p>

	<h3 ng-show="meetup.rating">Rating</h3>
	<p>
        <span class="glyphicon" ng-repeat="n in []  | range:5"
                ng-class="{
                    'glyphicon-star': n < meetup.rating.average,
                    'glyphicon-star-empty': n >= meetup.rating.average
                }"></span>
	</p>

	<h3 ng-show="meetup.photos">Pictures of beer and pizza</h3>
    <a ng-href="{{photo.photo_link}}" ng-repeat="photo in meetup.photos">
        <img ng-src="{{photo.thumb_link}}" class="img-thumbnail">
    </a>
</div>